
 {% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-sm bg-light navbar-primary">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">MCQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TESTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Placement</a>
      </li>

    </ul>
  </nav>

<div style="margin-top: 50px;">
{% if latest_question_list %}
    <ol>
    {% for question in latest_question_list %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <li>{{ question.question_text }}</li>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {{ fl }}
    {% endfor %}
    <input type="submit" value="Answer">
    </form>

    {% endfor %}

  <h3>Check whether you have attended all the questions and then finish the test</h3>
    <a href="{% url 'polls:finish' %}" class="btn-btn-primary">Finish</a>

    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

{% endblock %}
